{% extends './base.html' %}

{% block title %} Predicción de precio {% endblock %}

{% block body %}

<div class="login">
  <h2>Predicción de precio</h2>
  <p>Introduzca el número de cuartos y la distancia:</p>
  <form action="{{url_for('boton')}}" method="post">
      <input type="text" name="cuartos" placeholder="# Cuartos" required="required">
      <input type="text" name="distancia" placeholder="Distancia" required="required">
      <button type="submit" class="btn btn-primary btn-block btn-large">Hacer predicción...</button>
  </form>
</div>
<br>

<br>
{{ pred_text }}
<br>

{% endblock %}
